*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.item-menu{
    background-color: rgb(54, 52, 51);
}

.item-menu.menu-ativo{
    background-color: rgb(253, 122, 28);
}

.menu-lateral{
    position: absolute;
    width: 300px;
    height: 100vh;
    background: #fff;
    padding-left: 10px;
    transition: 0.5s;
}

.menu-lateral ul{
    position: relative;
    height: 100vh;
}

.menu-lateral ul li{
    position: relative;
    list-style: none;
}

.menu-lateral ul li.logo{
    margin-bottom: 50px;
}

.menu-lateral ul li.logo .icon{
    font-size: 2em;
    color: var(--bg-padrao);
}

.menu-lateral ul li.logo .text{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--bg-padrao);
}

.menu-lateral ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.menu-lateral ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 70px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s;
}

.menu-lateral ul li a .text{
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.menu-lateral ul li:hover a .icon,
.menu-lateral ul li:hover a .text{
    color:rgb(253, 122, 28);
}