<div class="side-menu">
  <ul class="menu-list">
    <div>
      <li
        *ngFor="let item of menuItems"
        [ngClass]="'menu-item ' + (item.name === menuAtivo ? 'ativo' : '')"
      >
        <div
          class="circulo-icone"
          (click)="redirecionaMenu(item.name)"
          (mouseover)="mouseHover($event, item.color, item.name)"
          (mouseout)="mouseHover($event, 'white', item.name)"
          [ngStyle]="{
            'background-color': item.name === menuAtivo ? item.color : ''
          }"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="item.icon"
          ></mat-icon>
        </div>
      </li>
    </div>
  </ul>
</div>
