<div class="side-menu">
  <ul class="menu-list">
    <div>
      <li
        *ngFor="let item of menuItems"
        [ngClass]="'menu-item ' + (item.name === menuAtivo ? 'ativo' : '')"
        class="menu-item"
        (click)="menuAtivo = item.name"
      >
        <div class="circulo-icone">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="item.icon"
          ></mat-icon>
        </div>
        <!-- <span class="menu-item-name">{{ item.name }}</span> -->
      </li>
    </div>
  </ul>
</div>
